@import "tailwindcss";

@plugin "tailwindcss-animate";

@layer base {
  :root {
    --background: #ffffff;
    --background-contrast: #f7f7fc;
    --background-secondary: #F7F7FC;
    --border-one: #E1E1E1;
    --border-two: #E1E1FB;
    --primary: #5541D7;
    --primary-contrast: #ffffff;
    --primary-light: #A3C8FF;
    --danger: #FF5A5F;
    --text-one: #11142D;
    --text-two: #92929D;
    --text-three: #667085;
    --text-four: #9A9AB0;

    --mulish: "Mulish", serif;
    --radius: 8px;
    --radius-alt: 6px;
  }
}

@theme {
  --color-background: var(--background);
  --color-background-contrast: var(--background-contrast);
  --color-background-secondary: var(--background-secondary);
  --color-border-one: var(--border-one);
  --color-border-two: var(--border-two);
  --color-primary: var(--primary);
  --color-primary-contrast: var(--primary-contrast);
  --color-primary-light: var(--primary-light);
  --color-danger: var(--danger);
  --color-text-one: var(--text-one);
  --color-text-two: var(--text-two);
  --color-text-three: var(--text-three);
  --color-text-four: var(--text-four);

  --font-mulish: var(--mulish);
  --radius-radius: var(--radius);
  --radius-radius-alt: var(--radius-alt);
}

@layer base {
  body {
    @apply bg-background text-text-one font-mulish antialiased;
  }

  button, a {
    @apply focus-visible:outline-primary focus-visible:outline-4 focus-visible:outline-offset-2
  }

  svg {
    @apply text-2xl shrink-0;
  }
}

